GameClient/Client/Connected Services/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsFault" nillable="true" type="tns:UserExistsFault" />
  <xs:complexType name="UserFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFaultException" nillable="true" type="tns:UserFaultException" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesLost" type="xs:int" />
      <xs:element minOccurs="0" name="GamesTie" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="ArrayOfGameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDTO" nillable="true" type="tns:GameDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDTO" nillable="true" type="tns:ArrayOfGameDTO" />
  <xs:complexType name="GameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDTO" nillable="true" type="tns:GameDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="MinesweeperGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="cols" type="xs:int" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfMinesweeperItem" />
      <xs:element minOccurs="0" name="maxMines" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinesweeperGrid" nillable="true" type="tns:MinesweeperGrid" />
  <xs:complexType name="ArrayOfMinesweeperItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MinesweeperItem" nillable="true" type="tns:MinesweeperItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMinesweeperItem" nillable="true" type="tns:ArrayOfMinesweeperItem" />
  <xs:complexType name="MinesweeperItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="cell" nillable="true" type="tns:MinesweeperItemCellDefinition" />
      <xs:element minOccurs="0" name="tag" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="type" type="tns:MinesweeperItemType" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinesweeperItem" nillable="true" type="tns:MinesweeperItem" />
  <xs:complexType name="MinesweeperItemCellDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="col" type="xs:int" />
      <xs:element minOccurs="0" name="row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MinesweeperItemCellDefinition" nillable="true" type="tns:MinesweeperItemCellDefinition" />
  <xs:simpleType name="MinesweeperItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MinesweeperItemType_None" />
      <xs:enumeration value="MinesweeperItem_Empty" />
      <xs:enumeration value="MinesweeperItem_MineWarning" />
      <xs:enumeration value="MinesweeperItem_Mine" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MinesweeperItemType" nillable="true" type="tns:MinesweeperItemType" />
  <xs:complexType name="GameParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="cols" type="xs:int" />
      <xs:element minOccurs="0" name="mines" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameParams" nillable="true" type="tns:GameParams" />
  <xs:complexType name="PlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Loses" type="xs:int" />
      <xs:element minOccurs="0" name="Ties" type="xs:int" />
      <xs:element minOccurs="0" name="TotalGames" type="xs:int" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
</xs:schema>