GameClient/Client/Connected Services/ServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExistsFault" nillable="true" type="tns:UserExistsFault" />
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GamesLost" type="xs:int" />
      <xs:element minOccurs="0" name="GamesTie" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="ArrayOfGameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDTO" nillable="true" type="tns:GameDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDTO" nillable="true" type="tns:ArrayOfGameDTO" />
  <xs:complexType name="GameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GameID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDTO" nillable="true" type="tns:GameDTO" />
  <xs:complexType name="ArrayOfPlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDTO" nillable="true" type="tns:ArrayOfPlayerDTO" />
  <xs:complexType name="UserFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFaultException" nillable="true" type="tns:UserFaultException" />
</xs:schema>